.x-menu {
	border: 1px solid #718bb7;
	z-index: 15000;
	zoom: 1;
	background: #f0f0f0 url(../images/default/menu/menu.gif) repeat-y;
	padding: 2px;
}
.x-menu a {
    text-decoration: none !important;
}
.ext-ie .x-menu {
    zoom:1;
    overflow:hidden;
}
.x-menu-list{
	background:transparent;
	border:0 none;
}
.x-menu li{
	line-height:100%;
}
.x-menu li.x-menu-sep-li{
	font-size:1px;
	line-height:1px;
}
.x-menu-list-item{
	font:normal 11px tahoma,arial, sans-serif;
    white-space: nowrap;
    -moz-user-select: none;
	-khtml-user-select: none;
	display:block;
	padding:1px;
}
.x-menu-item-arrow{
	background:transparent url(../images/default/menu/menu-parent.gif) no-repeat right;
}
.x-menu-sep {
	display:block;
	font-size:1px;
	line-height:1px;
	margin: 2px 3px;
    background-color:#e0e0e0;
	border-bottom:1px solid #fff;
}
.x-menu-focus {
	position:absolute;
	left:0;
	top:-5px;
	width:0;
	height:0;
    line-height:1px;
}
.x-menu a.x-menu-item {
	display:block;
	line-height:16px;
	padding:3px 21px 3px 3px;
	white-space: nowrap;
	text-decoration:none;
	color:#222;
	-moz-outline: 0 none;
	outline: 0 none;
	cursor:pointer;
}
.x-menu-item-active {
	background: #ebf3fd url(../images/default/menu/item-over.gif) repeat-x left bottom;
	border:1px solid #aaccf6;
	padding: 0;
}
.x-menu-item-active a.x-menu-item {
    color: #233d6d;
}

.x-menu-item-icon {
	border: 0 none;
	height: 16px;
	padding: 0;
	vertical-align: top;
	width: 16px;
	margin: 0 8px 0 0;
   background-position:center;
}

.x-menu-check-item .x-menu-item-icon{
	background: transparent url(../images/default/menu/unchecked.gif) no-repeat center;
}

.x-menu-item-checked .x-menu-item-icon{
	background-image:url(../images/default/menu/checked.gif);
}
.x-menu-group-item .x-menu-item-icon{
	background: transparent;
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon{
    background: transparent url(../images/default/menu/group-checked.gif) no-repeat center;
}

.x-menu-plain {
	background:#fff !important;
}
.x-menu-date-item{
	padding:0;
}

.x-menu .x-color-palette, .x-menu .x-date-picker{
    margin-left: 26px;
	 margin-right:4px;
}
.x-menu .x-date-picker{
    border:1px solid #a3bad9;
    margin-top:2px;
    margin-bottom:2px;
}
.x-menu-plain .x-color-palette, .x-menu-plain .x-date-picker{
	 margin: 0;
	 border: 0 none;
}
.x-date-menu {
   padding:0 !important;
}

.x-cycle-menu .x-menu-item-checked {
    border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
	padding:0;
}
.x-btn{
	font:normal 11px tahoma, verdana, helvetica;
	cursor:pointer;
	white-space: nowrap;
}
.x-btn button{
    border:0 none;
    background:transparent;
    font:normal 11px tahoma,verdana,helvetica;
    padding-left:3px;
    padding-right:3px;
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
}
* html .ext-ie .x-btn button {
    width:1px;
}
.ext-gecko .x-btn button {
    padding-left:0;
    padding-right:0;
}
.ext-ie .x-btn button {
    padding-top:2px;
}
/*
 Predefined css class for buttons with only icon. Add this class (x-btn-icon) and a class with a background-image
 to your button for a button with just an icon.
 e.g.
 .my-class .x-btn-text { background-image: url(foo.gif); }
 */
 
.x-btn-icon .x-btn-center .x-btn-text{
	background-position: center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
    padding:0;
}
.x-btn-icon .x-btn-center{
	padding:1px;
}
.x-btn em {
    font-style:normal;
    font-weight:normal;
}
/*
 Button class for icon and text. Add this class (x-btn-text-icon) and a class with a background-image
 to your button for both text and icon. 
*/

.x-btn-text-icon .x-btn-center .x-btn-text{
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:3px;
	padding-bottom:2px;
    padding-right:0;
}

.x-btn-left, .x-btn-right{
	font-size:1px;
    line-height:1px;
}
.x-btn-left{
	width:3px;
	height:21px;
	background:url(../images/default/button/btn-sprite.gif) no-repeat 0 0;
}
.x-btn-right{
	width:3px;
	height:21px;
	background:url(../images/default/button/btn-sprite.gif) no-repeat 0 -21px;
}
.x-btn-left i, .x-btn-right i{
	display:block;
    width:3px;
    overflow:hidden;
    font-size:1px;
    line-height:1px;
}
.x-btn-center{
	background:url(../images/default/button/btn-sprite.gif) repeat-x 0 -42px;
	vertical-align: middle;
	text-align:center;
	padding:0 5px;
	cursor:pointer;
	white-space:nowrap;
}
.x-btn-over .x-btn-left{
	background-position:0 -63px;
}
.x-btn-over .x-btn-right{
	background-position:0 -84px;
}
.x-btn-over .x-btn-center{
	background-position:0 -105px;
}
.x-btn-click .x-btn-center, .x-btn-menu-active .x-btn-center{
	background-position:0 -126px;
}
.x-btn-disabled *{
	color:gray !important;
	cursor:default !important;
}
.x-btn-menu-text-wrap .x-btn-center {
	padding:0 3px;
}
.ext-gecko .x-btn-menu-text-wrap .x-btn-center {
	padding:0 1px;
}
.x-btn-menu-arrow-wrap .x-btn-center {
    padding:0;
}
.x-btn-menu-arrow-wrap .x-btn-center button {
	width:12px !important;
    height:21px;
    padding:0 !important;
    display:block;
    background:transparent url(../images/default/button/btn-arrow.gif) no-repeat left 3px;
}
.x-btn-with-menu  .x-btn-center {
    padding-right:2px !important;
}
.x-btn-with-menu  .x-btn-center em {
    display:block;
    background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat right 0;
	padding-right:10px;
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
    display:block;
    background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat right 3px;
	padding-right:10px;
}
.x-toolbar{
	border-color:#a9bfd3;
    border-style:solid;
    border-width:0 0 1px 0;
    display: block;
	padding:2px;
    background:#d0def0 url(../images/default/toolbar/bg.gif) repeat-x top left;
    position:relative;
    zoom:1;
}
.x-toolbar .x-item-disabled .x-btn-icon {
    opacity: .35;
    -moz-opacity: .35;
    filter: alpha(opacity=35);
}
.x-toolbar td {
	vertical-align:middle;
}
.mso .x-toolbar, .x-grid-mso .x-toolbar{
	border: 0 none;
	background: url(../images/default/grid/mso-hd.gif);
}
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
	white-space: nowrap;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}
.x-toolbar .x-item-disabled {
	color:gray;
	cursor:default;
	opacity:.6;
	-moz-opacity:.6;
	filter:alpha(opacity=60);
}
.x-toolbar .x-item-disabled * {
	color:gray;
	cursor:default;
}
.x-toolbar .x-btn-left{
	background:none;
}
.x-toolbar .x-btn-right{
	background:none;
}
.x-toolbar .x-btn-center{
	background:none;
	padding:0 0;
}
.x-toolbar .x-btn-menu-text-wrap .x-btn-center button{
	padding-right:2px;
}
.ext-gecko .x-toolbar .x-btn-menu-text-wrap .x-btn-center button{
	padding-right:0;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button{
	padding:0 2px;
}

.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    width:12px;
    background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat 0 3px;
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    width:12px;
    background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat 0 3px;
}
.x-toolbar .x-btn-over .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: 0 -47px;
}
.x-toolbar .x-btn-over .x-btn-left{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 0;
}
.x-toolbar .x-btn-over .x-btn-right{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -21px;
}
.x-toolbar .x-btn-over .x-btn-center{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -42px;
}

.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -63px;
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -84px;
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background: url(../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -105px;
}

.x-toolbar .x-btn-with-menu .x-btn-center em{
	padding-right:8px;
}

.x-toolbar .ytb-text{
   padding:2px;
}
.x-toolbar .ytb-sep {
	background-image: url(../images/default/grid/grid-blue-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0 2px 0;
	border:0;
}
.x-toolbar .ytb-spacer {
    width:2px;
}

